.calender {
  text-align: center;
  display: inline-block;
  /* grid-template-columns: 12%, 12%, 12%, 12%, 12%, 12%, 12%, 12%; */
}

.column {
  display: flex;
  flex-direction: row;
}
/* .calender div {
  display: inline-grid;
  grid-template-columns: 12%, 12%, 12%, 12%, 12%, 12%, 12%, 12%;
} */
  



/* .column {
  text-align: center;
} */