.card__content {
    grid-column-start: 2;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    text-align: center;
    font-weight: 100;
    overflow: hidden;
  }